.hero > img {
  border-radius: 10px;
  width: 300px;
  filter: grayscale(100%);
}

.install-code {
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: none !important;
}
