name: Publish packages

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version number of packages to publish'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301

    - name: Yarn install
      run: yarn install
      working-directory: ./Source/features-ui

    - name: Yarn build (features-ui)
      run: yarn build
      working-directory: ./Source/features-ui

    - name: DotNet Build (AspNetCore.FeatureManagement.UI)
      run: dotnet build --configuration Release

    - name: DotNet Test (AspNetCore.FeatureManagement.UI)
      run: dotnet test --no-restore --verbosity normal
    
    - name: dotnet pack [AspNetCore.FeatureManagement.UI.Configuration]
      run: dotnet pack ./Source/AspNetCore.FeatureManagement.UI/AspNetCore.FeatureManagement.UI.Configuration/AspNetCore.FeatureManagement.UI.Configuration.csproj /p:Version=${{github.event.inputs.version}} -c Release --no-build --include-source --include-symbols -o ./artifacts

    - name: dotnet pack [AspNetCore.FeatureManagement.UI.Core]
      run: dotnet pack ./Source/AspNetCore.FeatureManagement.UI/AspNetCore.FeatureManagement.UI.Core/AspNetCore.FeatureManagement.UI.Core.csproj /p:Version=${{github.event.inputs.version}} -c Release --no-build --include-source --include-symbols -o ./artifacts

    - name: dotnet pack [AspNetCore.FeatureManagement.UI]
      run: dotnet pack ./Source/AspNetCore.FeatureManagement.UI/AspNetCore.FeatureManagement.UI/AspNetCore.FeatureManagement.UI.csproj /p:Version=${{github.event.inputs.version}} -c Release --no-build --include-source --include-symbols -o ./artifacts

    - name: dotnet pack [AspNetCore.FeatureManagement.UI.InMemory.Storage]
      run: dotnet pack ./Source/AspNetCore.FeatureManagement.UI/AspNetCore.FeatureManagement.UI.InMemory.Storage/AspNetCore.FeatureManagement.UI.InMemory.Storage.csproj /p:Version=${{github.event.inputs.version}} -c Release --no-build --include-source --include-symbols -o ./artifacts

    - name: dotnet pack [AspNetCore.FeatureManagement.UI.SqlServer.Storage]
      run: dotnet pack ./Source/AspNetCore.FeatureManagement.UI/AspNetCore.FeatureManagement.UI.SqlServer.Storage/AspNetCore.FeatureManagement.UI.SqlServer.Storage.csproj /p:Version=${{github.event.inputs.version}} -c Release --no-build --include-source --include-symbols -o ./artifacts

    - name: dotnet pack [AspNetCore.FeatureManagement.UI.Configuration.GroupFeature]
      run: dotnet pack ./Source/AspNetCore.FeatureManagement.UI/AspNetCore.FeatureManagement.UI.Configuration.GroupFeature/AspNetCore.FeatureManagement.UI.Configuration.GroupFeature.csproj /p:Version=${{github.event.inputs.version}} -c Release --no-build --include-source --include-symbols -o ./artifacts

    - name: setup nuget
      uses: NuGet/setup-nuget@v1.0.2
      with:
        nuget-version: latest

    - name: Publish package [AspNetCore.FeatureManagement.UI.Configuration]
      run: dotnet nuget push ./artifacts/AspNetCore.FeatureManagement.UI.Configuration.*.nupkg -k ${{secrets.NUGET_API_KEY}} -s https://api.nuget.org/v3/index.json --skip-duplicate

    - name: Publish package [AspNetCore.FeatureManagement.UI.Core]
      run: dotnet nuget push ./artifacts/AspNetCore.FeatureManagement.UI.Core.*.nupkg -k ${{secrets.NUGET_API_KEY}} -s https://api.nuget.org/v3/index.json --skip-duplicate

    - name: Publish package [AspNetCore.FeatureManagement.UI]
      run: dotnet nuget push ./artifacts/AspNetCore.FeatureManagement.UI.*.nupkg -k ${{secrets.NUGET_API_KEY}} -s https://api.nuget.org/v3/index.json --skip-duplicate

    - name: Publish package [AspNetCore.FeatureManagement.UI.InMemory.Storage]
      run: dotnet nuget push ./artifacts/AspNetCore.FeatureManagement.UI.InMemory.Storage.*.nupkg -k ${{secrets.NUGET_API_KEY}} -s https://api.nuget.org/v3/index.json --skip-duplicate

    - name: Publish package [AspNetCore.FeatureManagement.UI.SqlServer.Storage]
      run: dotnet nuget push ./artifacts/AspNetCore.FeatureManagement.UI.SqlServer.Storage.*.nupkg -k ${{secrets.NUGET_API_KEY}} -s https://api.nuget.org/v3/index.json --skip-duplicate

    - name: Publish package [AspNetCore.FeatureManagement.UI.Configuration.GroupFeature]
      run: dotnet nuget push ./artifacts/AspNetCore.FeatureManagement.UI.Configuration.GroupFeature.*.nupkg -k ${{secrets.NUGET_API_KEY}} -s https://api.nuget.org/v3/index.json --skip-duplicate